main {
    padding: 120px;
}
section#grid {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
section#grid div.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    cursor: crosshair;

    display: flex;
    justify-content: center;
    align-items: center;
}
section#grid,
div.square {
    border: 1px solid black;
    font-weight: bold;
}