main {
    padding: 120px;
}
section#grid {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
section#grid div.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    cursor: crosshair;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
section#grid,
div.square {
    border: 1px solid black;
    font-weight: bold;
}
div.square > span{
    display: none;
}
div.square.even{
    background-color: rgb(0, 167, 0);
    display: inline;
}
div.square.odd{
    background-color: rgb(0, 0, 167);
}
div.square.odd > span,
div.square.even > span{
    display: inline;
}